body {
    .travel {
        height: 100vh;
        width: 100%;
        background-color: $bgColor1;
    }
}

.adventure-wrapper {
    width: 100%;
    max-width: unset;
    .row {
        margin-bottom: 100px;
        .adv-wrapper {
            padding: 0 28px;
        }
        .adventures-cover-photo {
            margin-bottom: -5px;
            position: relative;
            img {
                height: 73vh;
                width: 100%;
                object-fit: cover;
            }
            p {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                @include flexCenter();
                color: $textColor2;
                font-size: 62px;
                font-weight: bold;
                letter-spacing: 5px;
                font-family: $font1;
            }
        }
    }
    .adv-category {
        overflow: hidden;
        position: relative;
        border: 6px solid transparent;
        white-space: nowrap;
        img {
            max-width: 100%;
            transition: all 0.3s;
            display: block;
            height: auto;
            transform: scale(1);
            object-fit: cover;
        }
        &:hover img {
            transform: scale(1.1);
        }
        .adventure-image-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            background-color: rgba($bgColor2, 0.6);
            color: $textColor2;
            // font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2em;
            &:hover {
                opacity: 1;
            }
            div {
                // padding: 0 20px;
                // max-width: 100%;
                .adventure-title {
                    font-size: 32px;
                    transition: 0.4s ease;
                    white-space: normal;
                    &:hover {
                        color: $textColor3;
                    }
                }
                .adventure-details {
                    font-family: $font2;
                    font-weight: normal;
                    color: $textColor2;
                    margin: 0;
                    white-space: normal;
                    overflow: hidden;
                }
            }
        }
        p {
            text-align: center;
            margin: 0 0 30px 0;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 2px;
            color: $textColor4;
            transition: all 0.3s ease;
            &:hover {
                color: $textColor3;
            }
        }
    }
}

// ==================================================================
// MEDIA SCRN 414px - 376px
// ==================================================================
@media (max-width: 414px) and (min-width: 376px) {
    .adventure-wrapper {
        .row {
            margin-bottom: 80px !important;
            width: 100% !important;
            .adv-wrapper {
                padding: 0 12px !important;
            }
        }
        .adventures-cover-photo {
            img {
                height: 35vh !important;
            }
            p {
                font-size: 35px !important;
                letter-spacing: 2px !important;
            }
        }
        .adv-category {
            margin: 5px 0 !important;
            img {
                transform: none !important;
            }
            .adventure-image-overlay {
                opacity: 1;
                font-size: 28px;
                background-color: rgba($bgColor2, 0.5);
                .adventure-title {
                    font-size: 24px !important;
                    letter-spacing: 0.1em;
                    font-weight: bold;
                    padding-bottom: 8px;
                }
                .adventure-details {
                    font-size: 13px !important;
                }
            }
        }
    }
}

// ==================================================================
// MEDIA SCRN 375px - 320px
// ==================================================================
@media (max-width: 375px) and (min-width: 321px) {
    .adventure-wrapper {
        .row {
            margin-bottom: 80px !important;
            width: 100% !important;
            .adv-wrapper {
                padding: 0 12px !important;
            }
        }
        .adventures-cover-photo {
            img {
                height: 35vh !important;
            }
            p {
                font-size: 35px !important;
                letter-spacing: 2px !important;
            }
        }
        .adv-category {
            margin: 5px 0 !important;
            img {
                transform: none !important;
            }
            .adventure-image-overlay {
                opacity: 1;
                font-size: 28px;
                background-color: rgba($bgColor2, 0.5);
                padding: 0 7px;
                .adventure-title {
                    font-size: 24px !important;
                    letter-spacing: 0.1em;
                    font-weight: bold;
                    padding-bottom: 8px;
                }
                .adventure-details {
                    font-size: 13px !important;
                }
            }
        }
    }
}