$textColor1: #000000;
$textColor2: #ffffff;
$textColor3: #E1332D;
$textColor4: #333333;
$bgColor1: #E1332D;
$bgColor2: #000000;
$bgColor3: #ffffff;
$bgColor4: #333333;
$bgColor5: #efefef;
$font1: "Archivo",
sans-serif;
$font2: "Open Sans",
sans-serif;
$font3: "test";
// $font4: 'Knewave', cursive;
@font-face {
    font-family: test;
    src: url(./../font/Ludicrous.woff);
}